@page
@model ErrorModel
@{
    Layout = "_LayoutAnonymous";
    ViewData["Title"] = "ERROR";
}

<div class="container text-center">
    <img src="~/images/crying-baby.png" class="my-3" style="width: 100%; max-width: 598px;" />
    <div class="alert alert-danger">
        <h1 style="color: red;">Something Error</h1>
    </div>
</div>